.loader_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
