.searchBox_section {
  padding-top: 20px;
  padding-bottom: 10px;
}

.searchBox_wrapper {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}

.searchBox_message {
  color: rgb(42, 140, 165);
  font-size: 3rem;
}

.searchBox_label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchBox_label span {
  font-size: 2rem;
}

.searchBox_input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 400px;
  min-width: 300px;
}

.searchBox_input:focus {
  border-color: #007bff;
}
