.contact_wrapper {
  display: flex;
  gap: 25px;
}

.contact_form {
  display: flex;
  gap: 25px;
  padding: 20px 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px grey;
  border: 1px solid black;
  height: 146px;
  align-items: center;
}

.contact_item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact_info {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.contact_icon {
  flex-shrink: 0;
  font-size: 20px;
}

.contact_label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact_field {
  border: none;
  font-size: 2rem;
  width: 215px;
}

.contact_field:focus {
  border-bottom: 1px solid #007bff;
}

.contact_error {
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  color: #ff4d4f;
  font-size: 1rem;
  margin-top: 3px;
  padding-bottom: 5px;
}

.contact_text {
  font-size: 2rem;
  width: 215px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.contact_wrapper_button {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact_button {
  width: 100px;
  padding: 7px 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px grey;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact_icon_button {
  flex-shrink: 0;
  font-size: 20px;
}
.contact_button span {
  font-size: 1.8rem;
  font-weight: bold;
}

.contact_button:hover {
  background-color: rgb(255, 245, 224);
}
